@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-btn-primary {
  background: #1677ff;
}

div.ant-list-pagination {
  justify-content: center;
  display: flex;
  margin-top: 10px !important;
}

@media (min-width: 768px) {
  .ant-list {
    height: 505px;
  }
}

.p-multiselect {
  height: 0px;
  width: 0px;
  border: 0px !important;
}

.ant-form-item {
  margin-bottom: 8px;
}

.min-w-16 {
  min-width: 4rem;
}

.ant-switch {
  background: rgba(0, 0, 0, 0.45);
}
